aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiosignal==1.4.0
attrs==26.1.0
certifi==2026.6.17
charset-normalizer==3.4.9
dateparser==1.4.1
frozenlist==1.8.0
idna==3.18
multidict==6.7.1
propcache==0.5.2
pycryptodome==3.23.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python_binance==1.0.37
pytz==2026.2
regex==2026.7.10
requests==2.34.2
six==1.17.0
tzlocal==5.4.4
urllib3==2.7.0
websockets==16.1
yarl==1.24.2
